.Matches {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Match {
  /* width: 98vw; */
  width: 80vw;
  padding: 40px 0;
  /* margin: 40px 0; */
  margin-top: 120px;
  box-shadow: 0 0 5px 0 #808080;
  background-color: rgb(247, 247, 247);
  border-radius: 7px;
}

h2 {
  font-weight: 400;
  margin: 24px 0;
  font-size: 30px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.avatar {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 black;
}

li {
  color: rgb(68, 68, 68);
  font-family: sans-serif;
  font-size: 15px;
  margin: 10px 0;
  font-weight: 0;
}

td {
  vertical-align: top;
  text-align: center;
  padding: 0 20px;
}

.tgButton {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 100;
  color: white;
  background-color: #0099de;
  margin-top: 26px;
  width: 240px;
  padding: 15px;
  text-align: center;
  border-radius: 12px;
  /* transition: all 1s; */
}
